@{
    Layout = "_Layout";
    ViewData["Title"] = "Album delle foto";
}

<div class="p-5">
    <div class="container my-3">
        <div class="row align-content-stretch bg-black bg-opacity-50 rounded-3">

            <h1 class="col-12 text-white text-center bg-black bg-opacity-75 rounded-top py-2">Menù</h1>

            <div>
                <input id="ms-search-pizza" type="text" class="form-control my-3" placeholder="Cerca pizza per nome...">
            </div>

            <div id="ms-loading-menu" class="text-center my-3">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div id="ms-empty-menu" class="d-none">
                <div class="text-center text-danger" >Il menù è ancora vuoto.</div>
            </div>
            <div id="ms-result-menu" class="d-none">
            </div>
        </div>
    </div>
</div>
