@{
    Layout = "_Layout";
    ViewData["Title"] = "Modifica una foto";
}

@model PhotoFormModel

<div class="p-5">
    <div class="container bg-light p-3 rounded-3">
        <h1 class="ms-text-orange text-center">Modifica la tua foto!</h1>
        <p class="fs-6 text-center">I campi contrassegnati da * sono obbligatori.</p>
        <form asp-controller="Photo" asp-action="Update" asp-route-id="@Model.Photo.Id" enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Photo.Id" />
            <div class="mb-3">
                <label for="title" class="form-label">Titolo *</label>
                <input type="text" class="form-control" id="title" asp-for="Photo.Title">
                <span class="text-danger" asp-validation-for="Photo.Title"></span>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Descrizione *</label>
                <input type="text" class="form-control" id="description" asp-for="Photo.Description">
                <span class="text-danger" asp-validation-for="Photo.Description"></span>
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">URL immagine</label>
                <input type="text" class="form-control" id="imageUrl" asp-for="Photo.ImageUrl">
                <span class="text-danger" asp-validation-for="Photo.ImageUrl"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ImageFormFile">File immagine</label>
                <img src="@(Model.Photo.ImageSrc != "" ? Model.Photo.ImageSrc : "/img/placeholder.png")" class="ms-table-preview">
                <div>
                    <input type="file" asp-for="ImageFormFile" />
                    <span asp-validation-for="ImageFormFile" class="text-error"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Photo.Visibility" class="form-label">Visibilità</label>
                <input type="checkbox" id="visibility" value="true" asp-for="Photo.Visibility" />
                <span class="text-danger" asp-validation-for="Photo.Visibility"></span>
            </div>
            <div class="mb-3">
                <label for="categories" class="form-label">Tieni premuto ctrl e premi sulle categorie per effettuare una selezione multipla.</label>
                <select asp-for="SelectedCategories" class="d-block"
                        multiple="multiple"
                        size="10"
                        class="form-control mb-2 me-sm-2 ms-sm-3 leftList"
                        asp-items="@Model.AvailableCategories">
                </select>
            </div>
            <button type="submit" class="btn btn-success">Salva</button>
        </form>
    </div>
</div>