header {
    height: 6.5rem;
}

main {
    min-height: Calc(100vh - 14rem);
}

footere {
    height: 7.5rem;
}

.ms-table-preview {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.ms-detail-image {
    height: 20rem;
    object-fit: cover;
}